<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart Money
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Saldo: R$500,00</h1>
    <ion-button color="dark" (click)="addEntry()">Adicionar</ion-button>

    <h3>Categorias</h3>
    <ul>
      <li>Alimentação: R$575,00</li>
      <li>Combustível: R$50,00</li>
      <li>Aluguel: R$235,00</li>
      <li>Água: R$15,00</li>
      <li>Luz: R$94,62</li>
    </ul>

    <h3>Últimos lançamentos</h3>
    <ol>
      <li *ngFor="let entry of entries">
        {{ entry.description }}: {{ entry.amount | currency }}
      </li>
    </ol>
  </div>
</ion-content>