<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart Money
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Saldo: R$500,00</h1>
    <button (click)="addEntry()">Adicionar</button>

    <h3>Categorias</h3>
    <ul>
      <li>Alimentação: R$575,00</li>
      <li>Combustível: R$50,00</li>
      <li>Aluguel: R$235,00</li>
      <li>Água: R$15,00</li>
      <li>Luz: R$94,62</li>
    </ul>

    <h3>Últimos lançamentos</h3>
    <ul>
      <li>Supermercado Santos: R$25,00</li>
      <li>Supermercado Condor: R$530,00</li>
    </ul>
  </div>
</ion-content>

<ion-content>

</ion-content>